{% extends "layout.html" %}
{% block title %}Speakeasy:{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="card" id='request_div'>
    <h1>What'll you have?</h1>
    <p> 
    <form>
        <div class="form-group">
            <label for="drinkRequest">
                SpeakEasy is built on a powerful natural language processing engine and has a comprehensive knowledge of the
                ingredients and flavor profiles of thousands of cocktails. Enter a drink request below, and be as detailed as you want! 
            </label>
            <textarea class="form-control" type="text" id="drinkRequest" rows="1"></textarea>
        </div>
    </form>
    <h4>
        <button id="submit" class="btn btn-primary" role="button">Mix it up!</button>
    </h4>
</div>

<div class="card" style="display: none" id="the_result_div">
    <div class="container">
        <h2>I'll make you a <span id="name"></span></h2>
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <label for="prediction">
                        <h3>Based on your request:</h3> 
                        <p><span id="drink_request"></span></p>
                        <h3>Mix up the following:</h3>
                    </label>
                </div>
                <div>
                    <span id="recipe"></span>
                </div>
                <br>
                <div>
                    <h3>Description:</h3>
                    <p><span id="description"></span></p>
                    <p>Recipe courtesy of <a id='url' href={{ url }}>Difford's Guide</a>.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div>
                    <img id='img' class="card-img-top" src={{ img }}>
                    </a>
                </div>
                <div>
                    <br><h4><a href="/" class="btn btn-primary" role="button">Make me another!</a></h4>
                </div>
            </div>
        </div>
    </div>
    
</div>
    
{% endblock %}

{% block scripts %}

<script>
    $('#submit').click(() => { send_data(); });
    function send_data() {
        let req = {
            'request': $('#drinkRequest').val()
            }

        console.log('Your request:')
        console.log(req)

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/predict",  // Replace with URL of POST handler
            dataType: "json",
            async: true,
            data: JSON.stringify(req),
            success: (result) => {
                console.log('In success');
                console.log(result['img'])
                console.log(result['recipe_html'])
                $('#img').attr('src', result['img']);
                $('#url').attr('href', result['url']);
                $('#recipe').html(result['recipe']);
                $('#name').html(result['name']);
                $('#description').html(result['description']);
                $('#drink_request').text(result['drink_request']);
                $('#the_result_div').show();
                $('#request_div').hide();
            },
            error: (result) => {
                alert('Sorry, I missed that. Say again?');
            }
        })

    }
</script>

{% endblock %}